html {
  margin: 0;
}

body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica ,sans-serif;
  color: #111;
}

a {
  color: #444;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

.content {
  margin: 400px auto 0 auto;
  z-index: 2;
  background-color: inherit;
  position: relative;
  padding: 20px 0 20px 0;
}
.content .body {
  padding: 0 10px 0 10px;
  max-width: 580px;
  margin: 0 auto 0 auto;
}
pre {
  max-width: 560px;
  overflow: scroll;
  border: 1px #DDDDDD solid;
  border-radius: 5px;
  padding: 10px;
}

.header_image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header_desatruate_blur {
  -webkit-filter: blur(5px);
  -webkit-filter: saturate(20%)
}

.image_class {
  margin-top: 400px;
}

/**
 *  Post
 */
.post {
  margin: 0 0 40px 0;
}
.post .title {
  font-size: 24px; 
}
.post .title a {
  color: black;
  text-decoration: none; 
}
.post .meta {
  color: #CBCBCB;
  font-size: 12px;
  margin: 10px 0 10px 0;
}
.post .meta .inner-meta {
  padding-top: 9px;
  float: left;
}
.post .body {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 18px;
}
.post .body img {
  max-width: 400px;
  display: block;
  margin: 10px auto 10px auto;
  padding: 10px 0 10px 0;
  border: solid 5px #EEEEEE;
  border-left-width: 0;
  border-right-width: 0;
}
.post .body blockquote {
  border: solid 0 #EEEEEE;
  border-left-width: 5px;
  padding-left: 20px;
}
.post .body a {
  color: #444;
  text-decoration: underline;
}

/**
 *  Footer
 */
footer {
  border: solid 0 #EEEEEE;
  border-top-width: 2px;
  background-color: #EAEAEA;
}
footer .content {
  margin: 0 auto 0 auto;
  max-width: 600px;
}
footer .avitar {
  background-image: url("http://www.gravatar.com/avatar/9c08af7fde2b7ac630ea1f1ce412715e.jpg?s=256");
  background-size: 100%;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  float: left;
  margin-right: 20px;
}
footer .bio {
  font-family: Helvetica ,sans-serif;
  float: left;
  width: 230px;
  font-weight: 200px;
  font-size: 14px;
  font-style: italic;
  color: #656565;
  margin: 0 10px 0 10px;
}
footer .info {
  float: left;
}
footer .info .name {
  font-weight: bold;
  margin-bottom: 8px;
}
footer .info a {
  text-decoration: none;
}
footer .info .link {
  margin-bottom: 2px;
}
footer .open-sky {
  float: right;
}

/**
 *  Home Button
 */
.home_icon {
  background-color: rgba(255, 255, 255, 0.7);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: fixed;
  right: 20px;
  top: 50px;
}

.home_link {
  background-color: inherit;
  font-size: 22px;
  color: #CCC;
  background-size: 50%;
  width: 28px;
  height: 28px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  border: solid 2px #CCC;
  border-radius: 16px;
  transition: all .2s ease-in-out;
}
.home_link:hover {
  color: #888;
  border-color: #888;
}
.home_link i {
  padding-left: 4px;
}

.clear {
  clear: both;
}

/**
 *  Archive
 */
.archive_link {
  text-align: center;
}

.archive_title {
  float: left;
  font-size: 26px;
  font-weight: bold;
}

.archive .year {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0 10px 0;
}
.archive .post-title span {
  color: #AAA;
}

/**
 *  Contact info
 */
.contact .letters_list {
  font-size: 20px;
  margin-bottom: 10px;
}
.contact .letter {
  float: left;
}
.contact .end-contact {
  clear: both;
}
.contact i {
  margin-right: 6px;
  color: #333;
}
.contact i:hover {
  color: #AAA;
}

.callout {
  color: #444;
}

/**
 *  Projects GitHub Style
 */
.gh_group ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.gh_group ul li {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  border: 0px solid #AAA;
  border-bottom-width: 1px;
}
.gh_group .fork_callout {
  margin-right: 5px;
}
.gh_group .repo_name a {
  font-weight: bold;
}
.gh_group .repo_name span {
  margin-left: 20px;
  font-size: 14px;
  color: #555;
}

/**
 *  Info Bar
 */
.bottom_info {
  text-align: center;
  background-color: #EAEAEA;
  min-height: 30px;
  color: #555;
  position: fixed;
  bottom: 0;
  z-index: 20;
  width: 100%;
  padding-top: 10px;
  border: 0px solid #222;
  border-top-width: 1px;
  opacity: 0.95;
}
.bottom_info i {
  margin-left: 20px;
}
span.fa {
  margin-left: 8px;
}
