---
layout: main
title: Blog
---

<div class="posts">
  {% for post in site.posts limit: 10 %}
    <div class="post">
      <div class="meta">{{ post.date | date_to_string }}</div>
      <div class="title">
        {% if post.link %}
          <a href="{{ post.link }}">
            {{ post.title }} &#8594;
        {% else %}
          <a href="{{ post.url }}">
            {{ post.title }}
        {% endif %}
        </a>
      </div>
      <div class="body">{{ post.content }}</div>
    </div>
  {% endfor %}
</div>

<div class="archive_link">
  <a href="/archive.html">&mdash; More Posts &mdash;</a>
</div>