<footer>
  <div class='content'>
    <div class='about'>
      <div class='avitar'></div>
      <div class='info'>
        <div class='name'>Skylar Schipper</div>
        
        <div class='contact'>
          <div class='letters_list'>
            <div class='letter email'>me</div>
            <div class='letter email twitter'>@</div>
            <div class='letter email twitter github blog'>skylarsch</div>
            <div class='letter email blog'>.com</div>
            <div class='end-contact'></div>
          </div>
          <a href="mailto:me@skylarsch.com">
            <i class="fa _email fa-envelope fa-lg"></i>
          </a>
          <a href="http://twitter.com/skylarsch" target="_blank">
            <i class="fa _twitter fa-twitter fa-lg"></i>
          </a>
          <a href="http://github.com/skylarsch" target="_blank">
            <i class="fa _github fa-github fa-lg"></i>
          </a>
          <a href="http://skylarsch.com">
            <i class="fa _blog fa-globe fa-lg"></i>
          </a>
        </div>

      </div>
      <div class='bio'>I build things.</div>
      <div class='open-sky'>
        <a href='http://openskydev.com' target='_blank'>
          <img src='//d3b3zrq6ur7pv.cloudfront.net/images/osd_logo_web_high.png' width='100px' alt='OpenSky Development'>
        </a>
      </div>
      <div class='clear'></div>
    </div>
  </div>
</footer>