<div class='footer'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='footer__links'>
        <ul>
          <li>other things</li>
          <li><a href='/archive.html'>Archives</a></li>
          <li><a href='/gaming.html'>Gaming Setup</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      A RSS feed is <a href='/rss.xml'>available here</a>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class='footer__copyright'>
        © 2012-2017 Skylar Schipper
      </div>
    </div>
  </div>
</div>
