<div class='header'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <div class='header__about'>Hi, my name is Skylar.  I'm a software developer and video game geek.</div>
        <div class='header__links'>
          <div class='header__links-about'>You can find me other places as well.</div>
          <span class='header__links__link'>
            <a href='https://twitter.com/skylarsch'>Twitter</a>
          </span>
          <span class='header__links__link'>
            <a href='https://github.com/skylarsch'>GitHub</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
