<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=600' name='viewport'>

    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
    <link rel='stylesheet' href='/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/css/syntax.css'>
    <link rel='stylesheet' href='/css/style.css'>

    <title>{{ page.title }}</title>

    <link rel='alternate' type='application/rss+xml' title='RSS' href='https://{{ site.hostname }}/rss.xml'>
    <link rel='alternate' type='application/atom+xml' title='Atom 0.3' href='https://{{ site.hostname }}/atom.xml'>
    <link rel='icon' type='image/png' href='/favicon.png'>

    <meta name='description' content="{{ site.description }}">
    <meta name='p:domain_verify' content='8d5f72087bc1d2b59a7f4352bdcf12bc' />
    <meta name='static:generator:time' content='{{ site.time }}'>

    <meta property="og:title" content="Skylar Schipper | {{ page.title }}">
    <meta property="og:image" content="https://www.gravatar.com/avatar/9c08af7fde2b7ac630ea1f1ce412715e.jpg?s=256">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="https://{{ site.hostname }}{{ page.url }}">
    <meta property="og:type" content="website">

    <meta property='ss-status' content='14692354-C8B3-4BDE-AF78-D2E44BF4441A'>
  </head>
  <body>
    {% include header.html %}

    <div class='container'>

      {{ content }}

      {% include footer.html %}
    </div>
  </body>

  {% include _scripts.html %}

</html>
