<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=600' name='viewport'>
    <link href='/css/syntax.css' rel='stylesheet'>
    <link href='/css/style.css' rel='stylesheet'>
    <title>Skylar Schipper | {{ page.title }}</title>
  </head>
  <body>
    <div class='header_image'></div>
    <div class='content'>
      <div class='body'>{{ content }}</div>
    </div>
    <footer>
      <div class='content'>
        <div class='about'>
          <div class='avitar'></div>
          <div class='info'>
            <div class='name'>Skylar Schipper</div>
            <div class='link twitter'>
              <a href='https://twitter.com/skylarsch'>T: @SkylarSch</a>
            </div>
            <div class='link adn'>
              <a href='https://alpha.app.net/skylarsch'>A: @SkylarSch</a>
            </div>
            <div class='link github'>
              <a href='https://github.com/skylarsch'>G: SkylarSch</a>
            </div>
          </div>
          <div class='bio'>I build things.</div>
          <div class='clear'></div>
        </div>
      </div>
    </footer>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '50271573613f5d6e69000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    <script type="text/javascript">
      var GoSquared = {};
      GoSquared.acct = "GSN-600603-R";
      (function(w){
        function gs(){
          w._gstc_lt = +new Date;
          var d = document, g = d.createElement("script");
          g.type = "text/javascript";
          g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
          var s = d.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(g, s);
        }
        w.addEventListener ?
          w.addEventListener("load", gs, false) :
          w.attachEvent("onload", gs);
      })(window);
    </script>
  </body>
</html>
