<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=600' name='viewport'>

    <link href='/css/font-awesome.min.css' rel='stylesheet'>
    <link href='/css/syntax.css' rel='stylesheet'>
    <link href='/css/style.css' rel='stylesheet'>

    <title>Skylar Schipper | {{ page.title }}</title>

    <link rel='alternate' type='application/rss+xml' title='RSS' href='http://{{ site.hostname }}/rss.xml'>
    <link rel='alternate' type='application/atom+xml' title='Atom 0.3' href='http://{{ site.hostname }}/atom.xml'>
    <link rel='icon' type='image/png' href='/favicon.png'>

    <meta name="description" content="{{ site.description }}">
    <meta name="p:domain_verify" content="8d5f72087bc1d2b59a7f4352bdcf12bc"/>
    <meta name="static:generator:time" content="{{ site.time }}">

    <meta property="og:title" content="Skylar Schipper | {{ page.title }}">
    <meta property="og:image" content="http://www.gravatar.com/avatar/9c08af7fde2b7ac630ea1f1ce412715e.jpg?s=256">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="http://{{ site.hostname }}{{ page.url }}">
    <meta property="og:type" content="website">
  </head>
  <body>
    {% include header.html %}

    <div class='content'>
      <div class='body'>{{ content }}</div>
    </div>

    {% include footer.html %}

    {% include _scripts.html %}
  </body>
</html>
